{{#each checklist in model}}
  <div class="well well-small">
    <p>
      {{#linkTo checklists.view checklist class="btn btn-primary"}}
        {{checklist.name}} <span class="glyphicon glyphicon-chevron-right"></span>
      {{/linkTo}}
      <span class="pull-right">
        <span class="btn-group">
          {{#linkTo checklist.edit checklist class="btn btn-primary"}}<span class="glyphicon glyphicon-pencil"></span>{{/linkTo}}
          {{#linkTo checklist.delete checklist class="btn btn-danger"}}<span class="glyphicon glyphicon-remove"></span>{{/linkTo}}
        </span>
      </span>
    </p>
    {{#if checklist.description}}<p>{{checklist.description}}</p>{{/if}}
  </div>
{{/each}}

<div class="pull-right">
  {{#linkTo checklist.new class="btn btn-success"}}<span class="glyphicon glyphicon-plus"></span> New Template{{/linkTo}}
</div>
