<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkoff</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/style.css">

  <script src="{{ STATIC_URL }}scripts/vendor/modernizr.js"></script>
  <script data-main="{{ STATIC_URL }}scripts/main" src="{{ STATIC_URL }}scripts/vendor/require.js"></script>
  {% if debug %}
    <script src="http://localhost:35729/livereload.js"></script>
    <script>
      window.DEBUG = true;
    </script>
  {% endif %}
</head>
<body></body>
</html>
