<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{!#linkTo index class="navbar-brand"}}Checkoff{{!/linkTo}}
    <div class="nav-collapse navbar-inverse-collapse collapse" style="height: 0px;">
      <ul class="nav navbar-nav">
        <li>{{!#linkTo index}}Home{{!/linkTo}}</li>
        <li>{{!#linkTo checklists.index}}Checklists{{!/linkTo}}</li>
        <li>{{!#linkTo projects.index}}Projects{{!/linkTo}}</li>
      </ul>
    </div>
  </div>
</div>

{{!outlet}}
