{{#each project in model}}
  <div class="well well-small">
    <p>
      {{#linkTo projects.view project class="btn btn-primary"}}
        {{project.name}} <span class="glyphicon glyphicon-chevron-right"></span>
      {{/linkTo}}
      <span class="pull-right">
        <span class="btn-group">
          {{#if project.link}}<a {{bindAttr href="project.link"}} class="btn btn-default"><span class="glyphicon glyphicon-link"></span></a>{{/if}}
          {{#linkTo projects.edit project class="btn btn-primary"}}<span class="glyphicon glyphicon-pencil"></span>{{/linkTo}}
          {{#linkTo projects.delete project class="btn btn-danger"}}<span class="glyphicon glyphicon-remove"></span>{{/linkTo}}
        </span>
      </span>
    </p>
    {{#if project.description}}<p>{{project.description}}</p>{{/if}}
  </div>
{{/each}}

<div class="pull-right">
  {{#linkTo projects.new class="btn btn-success"}}<span class="glyphicon glyphicon-plus"></span> New Project{{/linkTo}}
</div>
