{{#linkTo projects.index class="btn btn-primary"}}<span class="glyphicon glyphicon-chevron-left"></span> Projects{{/linkTo}}
<div class="pull-right">
  <div class="btn-group">
    {{#if model.link}}<a {{bindAttr href="model.link"}} class="btn btn-default"><span class="glyphicon glyphicon-link"></span></a>{{/if}}
    {{#linkTo projects.edit model class="btn btn-primary"}}<span class="glyphicon glyphicon-pencil"></span>{{/linkTo}}
    {{#linkTo projects.delete model class="btn btn-danger"}}<span class="glyphicon glyphicon-remove"></span>{{/linkTo}}
  </div>
</div>

<h3>{{model.name}}</h3>

{{#if model.description}}<p>{{model.description}}</p>{{/if}}
