<form {{action delete on="submit"}}>
  <h4>Delete {{model.name}}?</h4>

  <p>Are you sure you want to delete this template?</p>

  <div class="alert-box alert radius">There is no undo.</div>

  <div class="row right">
    <div class="large-12 columns">
      {{#linkTo templates.index class="button"}}Cancel{{/linkTo}}
      <button type="submit" class="alert">Delete</button>
    </div>
  </div>
</form>
