{{#each template in model}}
  <div class="well well-small">
    <p>
      {{#linkTo templates.view template class="btn btn-primary"}}
        {{template.name}} <span class="glyphicon glyphicon-chevron-right"></span>
      {{/linkTo}}
      <span class="pull-right">
        <span class="btn-group">
          {{#linkTo templates.edit template class="btn btn-primary"}}<span class="glyphicon glyphicon-pencil"></span>{{/linkTo}}
          {{#linkTo templates.delete template class="btn btn-danger"}}<span class="glyphicon glyphicon-remove"></span>{{/linkTo}}
        </span>
      </span>
    </p>
    {{#if template.description}}<p>{{template.description}}</p>{{/if}}
  </div>
{{/each}}

<div class="pull-right">
  {{#linkTo templates.new class="btn btn-success"}}<span class="glyphicon glyphicon-plus"></span> New Template{{/linkTo}}
</div>
