<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Konkle.us</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

  <script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>
</head>
<body>
  <script data-main="{{ STATIC_URL }}js/main" src="{{ STATIC_URL }}js/vendor/require.js"></script>
  {% if debug %}<script src="http://localhost:35729/livereload.js"></script>{% endif %}
</body>
</html>
