<h4>
  {{model.name}}
  <div class="right">
    {{#if model.link}}<sup><span class="round label"><a {{bindAttr href="model.link"}}>link</a></span></sup>{{/if}}
    <sup><span class="round label">{{#linkTo projects.edit model}}edit{{/linkTo}}</span></sup>
    <sup><span class="round alert label">{{#linkTo projects.delete model}}delete{{/linkTo}}</span></sup>
  </div>

  {{#if model.description}}<p>{{model.description}}</p>{{/if}}
</h4>